{% extends 'base.html.twig' %}

{% block title %}Saken Tasks Projetos{% endblock %}

{% block body %}
    <div class="col-12 py-4 p-2 position-relative">
        <div class="grid-snap position-absolute bg-success"> Draggable Element </div>
        <div class="grid-snap position-absolute"> Draggable Element </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('painel') }}
{% endblock %}

{% block footer %} 
    <div class="rodape text-center py-1 lato font-gray">© Saken Tasks 2022</div>
{% endblock %}