{% extends 'base.html.twig' %}

{% block title %}Saken Tasks Painel{% endblock %}

{% block body %}
    {{teste}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('painel') }}
{% endblock %}

{% block footer %} 
    <div class="rodape text-center py-1 lato font-gray">© Saken Tasks 2022</div>
{% endblock %}