{% extends 'base.html.twig' %}

{% block title %}Deletar funcionário{% endblock %}

{% block body %}
    <div class="col-lg-2 d-md-none d-lg-block"></div>
    <div class="col-lg-8 col-md-12 py-5">
        <div class="card">
            <div class="card-body">
                <h2 class="lato font-purple mb-2">Autenticação</h2>
                <h4 class="lato font-black mb-4">Antes de prosseguir, por favor confirme que é você mesmo.</h4>
                
                {{ form_start(form) }}
                    {{ form_row(form.passwordAdmin, {
                        label: 'Digite a sua senha de gerente',
                        attr: {
                            placeholder: 'Digite aqui a senha. A mesma utilizada para fazer o seu login!'
                        }
                    })}}
                    {{ form_row(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>

    </div>


{% endblock %}

{% block footer %} 
    <div class="rodape text-center py-1 lato font-gray">© Saken Tasks 2022</div>
{% endblock %}