{% extends 'base.html.twig' %}

{% block title %} {% if edit is defined %}Editar cargo {% else %} Novo cargo{% endif %}{% endblock %}

{% block body %}
    <div class="col-lg-2 d-md-none d-lg-block"></div>
    <div class="col-lg-8 col-md-12 py-5">
        <div class="card">
            <div class="card-body">
                {% if edit is defined %}
                    <h2 class="lato font-purple mb-4">Editar Cargo</h2>
                {% else %}
                    <h2 class="lato font-purple mb-4">Novo Cargo</h2>
                {% endif %}
                
                {{ form_start(form) }}
                    {{ form_row(form.nome, {
                        label: 'Nome do cargo:',
                        attr: {
                            placeholder: 'Digite o nome do cargo.'
                        }
                    })}}
                    {{ form_row(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>

    </div>


{% endblock %}

{% block footer %} 
    <div class="rodape text-center py-1 lato font-gray">© Saken Tasks 2022</div>
{% endblock %}